body {
background-image: url(https://images.unsplash.com/photo-1525467187333-8e3f68b8e742?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-color: #2E8B57;
  font-family: "Gill Sans", sans-serif;
  color: #FBFFFE;
  font-size: 20px;
  background-size: auto;
}

#heading-para {
  text-align: center;
  margin-top: 50px;
}

#form-styling {
  
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 40%;
  margin: 20px auto;
  padding: 35px;
}


label {
  display: block;
  margin: 10px;
}

input, textarea, #dropdown {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
}


.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

#submit {
  background-color: #2E8B57;
  width: 100%;
  height: 50px;
  margin: 50px 0;
  border: none;
  text-align: center;
  font-size: 1.1rem;
  color: #FBFFFE;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  height: unset;
}

.info-input, .select-input, .radio-input, .checkbox-input, .textarea-input {
  margin: 20px;  
}
